.App{
  background-color: #1F2329;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.wrapper{
  width: 50%;
  padding: 72px;
}

.wrapper:first-of-type{
  background: #fff;
}

.wrapper:first-of-type .box{
  background: blue;
}

.box{
  width: 100px;
  height: 100px;
  background-color: pink;
  margin: 40px;
}